@page "/demo"
@using Games.Client.Model;
@using System.Threading;
<h1>Blazor game test</h1>
<div>&copy; Linda Lawton 2019</div>

<p>A proof of consent example of Bouncing a ball off of a wall using a paddle with Blazor.</p>

<GamePannel Width="@Game.Width" Height="@Game.Height" Paddles="@Game.Paddles" Balls="@Game.Balls" Active="@Game.Active"></GamePannel>


@code {

    GamePannel Game;


    protected override async Task OnInitAsync()
    {
        Game = new GamePannel();
        Game.Height = 400;
        Game.Width = 600;
        Game.AddBall(5, 5, "fill:rgb(255,0,0);stroke-width:1;stroke:rgb(0,0,0)", new Point(50, 200), new Point(50 + 5, 200 + 5), new Point(55 - 5, 200 - 5));
        Game.AddPaddle(25, 100, 10, "fill:rgb(0,0,255);stroke-width:1;stroke:rgb(0,0,0)", new Point(200, 350), PaddleMovment.PaddleMovmentAll(), true);
    }
}

